/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Style the Nav menu */
.navbar {
  background-color: white;
  position: relative;
  z-index: 999;
  border-bottom: solid rgb(201, 222, 240) .5px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: white;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: rgb(28, 102, 249);
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* Style the dropdown menu */
.navbar ul ul {
  position: absolute;
  top: 100%;
  display: none;
}

.navbar ul ul li {
  display: block;
}

.navbar li:hover ul {
  display: block;
}

/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
  background-color: #a5c6ff;
}

.navbar div h1 {
  font-size:large;
}

.navbar div img {
  margin-top: auto;
  height: 40px;
}

.hero img {
  width: 100%;
}

.main {
  margin: 4rem;
}


.info {
  padding-top: 2rem;
}

.info span{
  font-size: 2rem;
}

.blue_buttons ul li {
  list-style: none;
}

.blue_buttons button {
  background-color: rgb(28, 102, 249);
  border: solid white 1px;
  border-radius: 5px;
  color: white;
  font-size: small;
  padding: 1rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.flex {
  display: flex;
}

.block {
  display: block;
}

.space_around {
  justify-content: space-around;
}

.align_center {
  align-items: end;
}

.length_short {
  width: 20rem
}
